<html ng-app="registrationModule">
    <head>
        <script src="~/Scripts/angular.min.js"></script>
        
       @* <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>*@
        <script src="~/Scripts/jquery-2.1.1.js"></script>
        <script src="~/Scripts/Application/registrationModule.js"></script>

        <title>Training Registration</title>
        @RenderSection("JavascriptInHead", required:false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
